/* .swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
} */

/* .swiper-navigation-size {
  font-size: 44px;
  color: red;
} */
/* :root {
  --swiper-navigation-size: 1px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
} */

.swiper-wrapper {
  column-gap: 24px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #946c3c;
  font-size: 34px;
  margin-top: -8px;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 24px;
    margin-top: 2px;
  }
}

@media screen and (max-width: 900px) {
  .swiper-pagination.swiper-pagination-fraction,
  .swiper-pagination.swiper-pagination-fraction .active {
    font-size: 16px;
    margin-top: 8px;
  }
}

.swiper-button-disabled {
  color: #98a2b3;
}
.active {
  color: #946c3c;
  font-family: "Maison Neue", sans-serif;
  font-size: 24px;
}
.hiddenClass {
  color: #98a2b3;
  font-family: "Maison Neue", sans-serif;
  font-size: 24px;
}
