.fc-day {
  background-color: #e6e5de;
  border: 1px solid #959c7e !important;
  padding: 10px;
  text-align: center;
  font-family: "Maison Neue", sans-serif;
  font-size: 16px;
  color: #101828;
  /* height: 95px !important; */
}

.fc-daygrid-day.fc-day-today {
  background-color: #e6e5de !important;
  border: 1px solid #959c7e !important;
}

.fc-col-header-cell {
  height: 40px;
}

.fc-timegrid-event {
  height: 30px;
}

.fc .fc-daygrid-day-top {
  display: inline;
}

.fc td {
  vertical-align: center !important;
}

.fc .fc-daygrid-day-number {
  top: 15px;
}

.fc .fc-col-header-cell-cushion {
  color: #667085;
  font-size: 14px;
  padding-top: 1rem;
  text-transform: uppercase;
  font-family: "Maison Neue", sans-serif;
  font-weight: 300;
  background-color: transparent !important;
  border: none !important;
}

.fc-h-event {
  border: none !important;
}

.fc-theme-standard .fc-scrollgrid {
  border-width: 0 !important;
}

.fc-header-toolbar {
  visibility: hidden;
  margin-top: -60px;
}
