@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 53 14% 89%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 33 42% 41%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 83%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/Maison\ Neue/MaisonNeue-Book.otf") format("opentype");
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/Maison\ Neue/MaisonNeue-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/Maison\ Neue/MaisonNeue-Medium.otf")
    format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Maison Neue";
  src: url("./assets/fonts/Maison\ Neue/MaisonNeue-Light.otf")
    format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Recoleta";
  src: local("Recoleta"),
    url("./assets/fonts/Recoleta/Recoleta-Regular.woff") format("woff"),
    url("./assets/fonts/Recoleta/Recoleta-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Recoleta";
  src: local("Recoleta"),
    url("./assets/fonts/Recoleta/Recoleta-Bold.woff") format("woff"),
    url("./assets/fonts/Recoleta/Recoleta-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Recoleta";
  src: local("Recoleta"),
    url("./assets/fonts/Recoleta/Recoleta-Medium.woff") format("woff"),
    url("./assets/fonts/Recoleta/Recoleta-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Recoleta";
  src: local("Recoleta"),
    url("./assets/fonts/Recoleta/Recoleta-Light.woff") format("woff"),
    url("./assets/fonts/Recoleta/Recoleta-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "AmsterdamOne";
  src: local("AmsterdamOne"),
    url("./assets/fonts/AmsterdamOne.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Arapey";
  src: local("Arapey"), url("./assets/fonts/Arapey.ttf") format("ttf");
  font-weight: 300;
}

.font-maison {
  font-family: "Maison Neue", sans-serif;
}

.font-recoleta {
  font-family: "Recoleta", sans-serif;
}

.font-amsterdam {
  font-family: "AmsterdamOne", sans-serif;
}

.font-arapey {
  font-family: "Arapey", sans-serif;
}

.sideNav:hover {
  background: #ca8b61;
  border-left: 2px solid white;
  color: white;
}
.popup-boxShadow {
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
    0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}
.custom-shadow {
  box-shadow: 0px -12px 76px 0px rgba(208, 216, 229, 0.33);
}
.custom-calendar .rbc-month-view .rbc-row-bg {
  height: 150px;
}
.custom-calendar .rbc-month-view .rbc-row-content {
  text-align: center; /* Center-align the entire cell content */
  margin-top: 20px;
  font-family: "Maison Neue", sans-serif;
  font-size: 26px;
  font-weight: 300;
}

.custom-calendar .rbc-month-view .rbc-date-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* Ensure the cell takes the full height */
}
.custom-calendar .rbc-month-view .rbc-header {
  color: #667085;
  font-family: "Maison Neue", sans-serif;
  font-size: 20px;
  display: block;
  font-weight: 300;
}
.custom-calendar .rbc-month-view .rbc-row:nth-child(3) .rbc-row-segment {
  border: none; /* Remove the top border for the second row */
}
.custom-calendar .rbc-event {
  background-color: white; /* Change the background color to white */
  border-left: 4px solid #959c7e; /* Optional: Set border color for the event */
  color: #344054; /* Optional: Set text color for the event */
  font-size: 20px;
  height: 47px;
  padding-top: 8px;
}

.custom-calendar .rbc-today {
  background-color: transparent;
  border: none;
  color: inherit;
  font-weight: 400;
}
.custom-list {
  list-style-type: disc; /* You can use 'circle' or 'square' as well */
}
.video-wrapper {
  position: relative;
}

.video {
  width: 100%;
  height: auto;
}

.video:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 1, 1, 0.4),
    rgba(0, 0, 0, 0.5)
  ); /* Adjust opacity as needed */
  pointer-events: none; /* Ensure clicks pass through the overlay */
}
.mantine-PasswordInput-innerInput {
  background: transparent;
  width: 100%;
  height: 50px;
}
/* .rbc-time-slot {
  background-color: red;
}
.rbc-month-view {
  background-color: red;
} */
/* .rbc-day-bg {
  background-color: #e6e5de;
  border: 1px solid #959c7e;
} */
/* .rbc-off-range-bg {
  background-color: #e6e5de;
  border: 1px solid #959c7e;
}
.other-cell {
  background-color: #e6e5de;
  border: 1px solid #959c7e;
} */
/* .rbc-month-row {
  background-color: #e6e5de;
  border: 1px solid #959c7e;
} */
/* .today-cell {
  background-color: #e6e5de;
  border: 1px solid #959c7e;
} */
